<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta content="IE=edge" http-equiv="X-UA-Compatible">
  <meta content="width=device-width,initial-scale=1" name="viewport">
  <meta content="description" name="description">
  <meta name="google" content="notranslate" />
  <meta content="Mashup templates have been developped by Orson.io team" name="author">

  <!-- Disable tap highlight on IE -->
  <meta name="msapplication-tap-highlight" content="no">
  
  <link rel="apple-touch-icon" sizes="180x180" href="./static/assets/apple-icon-180x180.png">
  <link href="./static/assets/certificate.ico" rel="icon">

  <title>Certifications</title>  

<link href="./static/main.3f6952e4.css" rel="stylesheet"></head>

<body class="">
<div id="site-border-left"></div>
<div id="site-border-right"></div>
<div id="site-border-top"></div>
<div id="site-border-bottom"></div>
 <!-- Add your content of header -->
<header>
  <nav class="navbar  navbar-fixed-top navbar-default">
    <div class="container">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>

      <div class="collapse navbar-collapse" id="navbar-collapse">
        <ul class="nav navbar-nav ">
          <li><a href="./index.html" title="">Home</a></li>
          <li><a href="./about.html" title="">About Me</a></li>
          <li><a href="./works.html" title="">Projects</a></li>
          <li><a href="./certificates.html" title="">Certifications</a></li>
          <li><a href="./contact.html" title="">Contact Me</a></li>
        </ul>


      </div> 
    </div>
  </nav>
</header>

<div class="section-container">
  <div class="container">
    <div class="row">
      
      <div class="col-sm-8 col-sm-offset-2 section-container-spacer">
        <div class="text-center">
          <h1 class="h2">Certifications</h1>
          <br><br>
          <!-- <p style="font-family:verdana ;font-size:0.7vw">Learning is best achieved by putting concepts into practice. During my graduation, I was fortunate to learn about several new concepts and technologies, and I had the opportunity to work on them. I found that applying these concepts to real-world projects was an excellent way to acquire more knowledge and gain a deeper understanding of the topics. Allow me to provide a few examples of this.</p> -->
        </div>
      </div>

      <div class="col-md-12">
     
      <div id="myCarousel" class="carousel slide projects-carousel">
        <!-- Carousel items -->
        <div class="carousel-inner">
            <div class="item active">
                <div class="row">
                    <div class="col-sm-4">

                      <a href="https://coursera.org/share/5143831f1d6e42e96bd4aeabd33c58d0" title="" class="black-image-project-hover">
                        <img src="./static/assets/images/DL-1.jpg" alt="" class="img-responsive">
                      </a>
                      <div class="card-container card-container-lg">
                        <h4>001/010</h4>
                        <h3>COURSERA</h3>
                        <p style="font-family:verdana">Convolutional Neural Networks</p>
                        <a href="https://coursera.org/share/5143831f1d6e42e96bd4aeabd33c58d0" title="" class="btn btn-default">Course Link</a>
                      </div>
                    </div>
                    <div class="col-sm-4">
                      <a href="https://coursera.org/share/6ca43aec65e79010125e019fe9b09034" title="" class="black-image-project-hover">
                        <img src="./static/assets/images/DL-2.jpg" alt="" class="img-responsive">
                      </a>
                      <div class="card-container card-container-lg">
                        <h4>002/010</h4>
                        <h3>COURSERA</h3>
                        <p style="font-family:verdana">Improving Deep Neural Networks: Hyperparameter Tuning, Regularization and Optimization</p>
                        <a href="https://coursera.org/share/6ca43aec65e79010125e019fe9b09034" title="" class="btn btn-default">Course Link</a>
                      </div>
                    </div>
                    <div class="col-sm-4">
                      <a href="https://coursera.org/share/3b391dd4c8051c9d4589ab1e74d5f966" title="" class="black-image-project-hover">
                        <img src="./static/assets/images/DL-3.jpg" alt="" class="img-responsive">
                      </a>
                      <div class="card-container card-container-lg">
                        <h4>003/010</h4>
                        <h3>COURSERA</h3>
                        <p style="font-family:verdana">Neural Networks and Deep Learning</p>
                        <a href="https://coursera.org/share/3b391dd4c8051c9d4589ab1e74d5f966" title="" class="btn btn-default">Course Link</a>
                      </div>
                    </div>
                    
                </div>
                <!--/row-->
            </div>
            <!--/item-->
            <div class="item">
                <div class="row">
                  <div class="col-sm-4">
                    <a href="https://coursera.org/share/c3ca68fbd146c1a112dba77db600de5b" class="black-image-project-hover">
                      <img src="./static/assets/images/DL-4.jpg" alt="Image" class="img-responsive">
                    </a>
                    <div class="card-container">
                      <h4>004/010</h4>
                      <h3>COURSERA</h3>
                      <p style="font-family:verdana">Structuring Machine Learning Projects</p>
                      <a href="https://coursera.org/share/c3ca68fbd146c1a112dba77db600de5b" class="btn btn-default">Course Link</a>
                    </div>
                  </div>
                  
                   <div class="col-sm-4">
                    <a href="https://www.udemy.com/certificate/UC-c37d440c-e2a5-4219-816c-83129f94cd85/" class="black-image-project-hover">
                      <img src="./static/assets/images/BI.jpg" alt="Image" class="img-responsive">
                    </a>
                      <div class="card-container">
                        <h4>005/010</h4>
                        <h3>UDEMY</h3>
                        <p style="font-family:verdana">Microsoft Power BI</p>
                      <a href="https://www.udemy.com/certificate/UC-c37d440c-e2a5-4219-816c-83129f94cd85/" class="btn btn-default">Course Link</a>
                      </div>
                    </div>
                    
                    <div class="col-sm-4">
                      <a href="https://www.udemy.com/certificate/UC-8fa2d82f-8485-4b96-8f3c-f2699ece8875/" class="black-image-project-hover">
                        <img src="./static/assets/images/python.jpg" alt="Image" class="img-responsive">
                      </a>
                      <div class="card-container">
                        <h4>006/010</h4>
                        <h3>UDEMY</h3>
                        <p style="font-family:verdana">Python Programming Language</p>
                        <a href="https://www.udemy.com/certificate/UC-8fa2d82f-8485-4b96-8f3c-f2699ece8875/" class="btn btn-default">Course Link</a>
                      </div>
                    </div>
                    
                </div>
                <!--/row-->
            </div>

            <div class="item">
              <div class="row">
                <div class="col-sm-4">
                  <a href="https://www.hackerrank.com/certificates/081536619395" class="black-image-project-hover">
                    <img src="./static/assets/images/java.jpg" alt="Image" class="img-responsive">
                  </a>
                  <div class="card-container">
                    <h4>007/010</h4>
                    <h3>HACKERRANK</h3>
                    <p style="font-family:verdana">Java (Basic) Certificate</p>
                    <a href="https://www.hackerrank.com/certificates/081536619395" class="btn btn-default">Course Link</a>
                  </div>
                </div>
                 <div class="col-sm-4">
                    <a href="https://www.hackerrank.com/certificates/62ff829af2cf" class="black-image-project-hover">
                      <img src="./static/assets/images/python_b.jpg" alt="Image" class="img-responsive">
                    </a>
                    <div class="card-container">
                      <h4>008/010</h4>
                      <h3>HACKERRANK</h3>
                      <p style="font-family:verdana">Python (Basic) Certificate</p>
                      <a href="https://www.hackerrank.com/certificates/62ff829af2cf" class="btn btn-default">Course Link</a>
                    </div>
                  </div>
                  
                  <div class="col-sm-4">
                    <a href="https://www.hackerrank.com/certificates/0032c77d52d6" class="black-image-project-hover">
                      <img src="./static/assets/images/sql-1.jpg" alt="Image" class="img-responsive">
                    </a>
                    <div class="card-container">
                      <h4>009/010</h4>
                      <h3>HACKERRANK</h3>
                      <p style="font-family:verdana">SQL (Basic) Certificate</p>
                      <a href="https://www.hackerrank.com/certificates/0032c77d52d6" class="btn btn-default">Course Link</a>
                    </div>
                  </div>
                  
              </div>
              <!--/row-->
          </div>

            <div class="item">
              <div class="row">
                <div class="col-sm-4"></div>
                <div class="col-sm-4">
                  <a href="https://www.hackerrank.com/certificates/b904f7c31033" class="black-image-project-hover">
                    <img src="./static/assets/images/sql-2.jpg" alt="Image" class="img-responsive">
                  </a>
                  <div class="card-container">
                    <h4>010/010</h4>
                    <h3>HACKERRANK</h3>
                    <p style="font-family:verdana">SQL (Intermediate) Certificate</p>
                    <a href="https://www.hackerrank.com/certificates/b904f7c31033" class="btn btn-default">Course Link</a>
                  </div>
                </div>
              </div>
            </div>
            
            <!--/item-->
        </div>
        <!--/carousel-inner--> 
        <a class="left carousel-control" href="#myCarousel" data-slide="prev">‹</a>

        <a class="right carousel-control" href="#myCarousel" data-slide="next">›</a>
     </div>



    <!--/myCarousel-->
    </div>



    </div>
  </div>
</div>


<footer class="footer-container text-center">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <p style="font-family:verdana"><b>©</b> 2023 <a href="https://www.linkedin.com/in/kashif-moin/" title="" style="color:black">Kashif Moin</a></p>
      </div>
    </div>
  </div>
</footer>

<script>
  document.addEventListener("DOMContentLoaded", function (event) {
     navActivePage();
  });
</script>

<!-- Google Analytics: change UA-XXXXX-X to be your site's ID 

<script>
  (function (i, s, o, g, r, a, m) {
    i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
      (i[r].q = i[r].q || []).push(arguments)
    }, i[r].l = 1 * new Date(); a = s.createElement(o),
      m = s.getElementsByTagName(o)[0s]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
  })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');
  ga('create', 'UA-XXXXX-X', 'auto');
  ga('send', 'pageview');
</script>

--> <script type="text/javascript" src="./static/main.70a66962.js"></script></body>

</html>
